# The target data warehouse ('snowflake' or 'bigquery')
WAREHOUSE=snowflake  

# Snowflake connection variables
SNOWFLAKE_USER=MY_USERNAME
SNOWFLAKE_PASSWORD=MY_PROGRAMMATIC_ACCESS_TOKEN
SNOWFLAKE_ACCOUNT=MY_ACCOUNT
SNOWFLAKE_WAREHOUSE=MY_WAREHOUSE
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_DATABASE=MY_DATABASE
