# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Working directories
.venv/
.vscode/
ingestion/data/completions/**
ingestion/data/institutions/**
ingestion/data/seeds/clean/**
logs/

# Environment variables
.env

# Pre-commit files, scripts, logs
.pre-commit-config.yaml
pre-commit-check*

# dbt artifacts
# dbt generated directories
dbt/dbt_packages/
dbt/logs/
dbt/target/

# dbt user-specific files
dbt/.user.yml

# dbt cli
dbt/dbt